<div>
	<div id="file-upload-div" ng-controller="FileUploadCtrl">
		<h4>File Upload Section</h4>
		<div id="file-select-div">
			<input id="fileUploadBtn" type="file" nv-file-select=""
				uploader="uploader" multiple /><br />
		</div>
		<div id="upload-progress-div" ng-show="uploader.queue.length > 0">
			<table class="table">
				<thead>
					<tr>
						<th width="50%">Name</th>
						<th ng-show="uploader.isHTML5">Size</th>
						<th ng-show="uploader.isHTML5">Progress</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in uploader.queue">
						<td><strong>{{ item.file.name }}</strong></td>
						<td ng-show="uploader.isHTML5" nowrap>{{
							item.file.size/1024/1024|number:2 }} MB</td>
						<td ng-show="uploader.isHTML5">
							<div class="progress" style="margin-bottom: 0;">
								<div class="progress-bar" role="progressbar"
									ng-style="{ 'width': item.progress + '%' }"></div>
							</div>
						</td>
						<td class="text-center"><span ng-show="item.isSuccess"><i
								class="glyphicon glyphicon-ok"></i></span> <span
							ng-show="item.isCancel"><i
								class="glyphicon glyphicon-ban-circle"></i></span> <span
							ng-show="item.isError"><i
								class="glyphicon glyphicon-remove"></i></span></td>
						<td nowrap>
							<button type="button" class="btn btn-success btn-xs"
								ng-click="item.upload()"
								ng-disabled="item.isReady || item.isUploading || item.isSuccess">
								<span class="glyphicon glyphicon-upload"></span> Upload
							</button>
							<button type="button" class="btn btn-warning btn-xs"
								ng-click="item.cancel()" ng-disabled="!item.isUploading">
								<span class="glyphicon glyphicon-ban-circle"></span> Cancel
							</button>
							<button type="button" class="btn btn-danger btn-xs"
								ng-click="item.remove()">
								<span class="glyphicon glyphicon-trash"></span> Remove
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<div>
					Queue progress:
					<div class="progress" style="">
						<div class="progress-bar" role="progressbar"
							ng-style="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</div>
				<button type="button" class="btn btn-success btn-s"
					ng-click="uploader.uploadAll()"
					ng-disabled="!uploader.getNotUploadedItems().length">
					<span class="glyphicon glyphicon-upload"></span> Upload all
				</button>
				<button type="button" class="btn btn-warning btn-s"
					ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
					<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
				</button>
				<button type="button" class="btn btn-danger btn-s"
					ng-click="uploader.clearQueue()"
					ng-disabled="!uploader.queue.length">
					<span class="glyphicon glyphicon-trash"></span> Remove all
				</button>
			</div>

			<div>
				<button type="submit" class="btn btn-primary" ng-click="sendUpdateNotification()"
					ng-disabled="!uploader.queue.length||uploadCount<=0||isProcessing">Send
					Update Notification</button>
				<div>
					<alert ng-show="isProcessing">Processing...</alert>
					<alert type="danger" ng-show="isFailed">Failed!</alert>
					<alert type="success" ng-show="isSuccess">Success!</alert>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="UserDetailsCtrl">
		<h4>User Details Section</h4>
		<label> <input type="checkbox" ng-model="isActiveOnly">
			Show Active User Only
		</label> <label> <input type="checkbox" ng-model="withPhoneNumberOnly">
			With Phone Number Only
		</label>
		<table class="table table-bordered table-hover">
			<tr>
				<th>Email Address</th>
				<th>Username</th>
				<th>Phone Number</th>
				<th>Comment</th>
				<th>Active</th>
			</tr>
			<tr
				ng-repeat="userDetail in userDetails | UserDetailsFilter:isActiveOnly:withPhoneNumberOnly"
				ng-show="userDetails.length > 0 && !isFail">
				<td>{{userDetail.email}}</td>
				<td>{{userDetail.username}}</td>
				<td>{{userDetail.phoneNumber}}</td>
				<td>{{userDetail.comment}}</td>
				<td><span class="glyphicon glyphicon-ok"
					ng-show="userDetail.active"></span><span
					class="glyphicon glyphicon-remove" ng-show="!userDetail.active"></span></td>
			</tr>
		</table>
		<div ng-show="userDetails.length <= 0 && !isFail">No User Found.</div>
		<div ng-show="isFail">Fail to load user details.</div>
	</div>
</div>
