<div class="row" ng-controller="ViewerCtrl">
	<div ng-controller="InterestModalCtrl">
		<script type="text/ng-template" id="interestModal.html">
			<div class="modal-body">
				<tabset> <tab heading="To Subscribe"> <br>
				<div>
					<form class="form-horizontal" name="subscribeForm" novalidate
						ng-submit="subscribe(subscribeEmail, username, isContactMeIndicator, phoneNumber)">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="username">Name:
							</label>
							<div class="col-sm-10">
								<input id="username" ng-enabled="isEnabled" class="form-control"
									type="text" ng-model="username" name="usernameInput" required
									ng-maxlength="30" placeholder="please input your name"></input>
								<div ng-show="subscribeForm.usernameInput.$dirty"
									ng-messages="subscribeForm.usernameInput.$error">
									<div ng-message="required">
										<alert type="danger">Please make sure you input
										username!</alert>
									</div>
									<div ng-message="maxlength">
										<alert type="danger">Please make sure you don't exceed
										the maximum length!</alert>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subscribeEmail">Email:
							</label>
							<div class="col-sm-10">
								<input id="subscribeEmail1" ng-enabled="isEnabled"
									class="form-control" type="email" ng-model="subscribeEmail"
									name="subscribeEmailInput" required
									placeholder="please input your email"></input>
								<div ng-show="subscribeForm.subscribeEmailInput.$dirty"
									ng-messages="subscribeForm.subscribeEmailInput.$error">
									<div ng-message="required">
										<alert type="danger">Please make sure you input email
										address!</alert>
									</div>
									<div ng-message="email">
										<alert type="danger">Please make sure you input valid
										email address format!</alert>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="iscontactMe">Contact
								Me? </label>
							<div class="col-sm-10">
								<div class="controls form-inline">
									<input id="iscontactMe" ng-enabled="isEnabled" type="checkbox"
										ng-model="isContactMeIndicator" name="isContactMeInput"
										ng-true-value="true" /> <input id="phoneNumber"
										ng-enabled="isEnabled" class="form-control" type="text"
										ng-model="phoneNumber" ng-required="isContactMeIndicator" name="phoneNumberInput" numbers-only
										ng-maxlength="20" ng-show="isContactMeIndicator" placeholder="Please input your phone number" />
								</div>
								<div
									ng-show="subscribeForm.phoneNumberInput.$dirty && isChecked"
									ng-messages="subscribeForm.phoneNumberInput.$error">
									<div ng-message="maxlength">
										<alert type="danger">Please make sure you don't exceed
										the maximum length!</alert>
									</div>
								</div>
							</div>
						</div>
						<div>
							<alert ng-show="isProcessing">Processing...</alert>
							<alert type="success" ng-show="isSuccess">Success!
							Closing in {{timeRemain}} seconds.</alert>
							<alert type="danger" ng-show="isFailed">Failed!</alert>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit"
									ng-disabled="subscribeForm.$invalid"
									class="btn btn-primary">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
				</tab></tabset>
			</div>
		</script>
		<button class="btn btn-info btn-lg"
			style="border-radius: 20px; top: 120px; left: -15px; position: fixed; z-index: 10; float: left; text-align: right;"
			ng-click="open()">Try me!</button>
	</div>
	<div class="col-md-4">
		<div ng-show="!isError">
			<div ng-show="documents.length > 0">
				<div>Documents Available As below, click to view more details:</div>
				<div ng-repeat="document in documents">
					<a ng-href="javascript:void"
						ng-click="generateUrl(baseUrl, document, $event)">{{document}}</a>
				</div>
			</div>
			<div ng-show="documents.length <= 0">No documents found.</div>
		</div>
		<div ng-show="isError">Fail to retrieve documents!</div>
	</div>
	<div class="col-md-8" ng-show="documents.length > 0">
		<iframe ng-src="{{previewDocumentUrl}}" width="700px" height="800px"
			allowfullscreen webkitallowfullscreen></iframe>
	</div>
</div>
