<div>
<p>Dear $userName,</p>
<br/>
<p>We have new stuff for you:
<br/>
  #foreach( $newStuff in $newsList )
     <a href="$newStuff.value">$newStuff.key</a>
  #end
</p>
<p>Please access $webUrl for more information.</p>
<p>You can unsubscribe from us through <a href="$unsubscribeUrl">here</a>.</p>
<br/>
<p>Thank you!</p>
</div>